#att-container{
    display: flex;
    flex-direction: column;
}
.att-g{
    min-width: 890px;
    width: auto;
    background-color: #fff;
    margin: 8px 14px 0 8px;
    border-radius: 3px;
    /* padding-top: 50px; */
}
.att-header{
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#timeMap{
    flex-basis: 850px;
    width: 850px;
    height: 230px;
}


.att-c{
    height: 385px;
}

.ant-tabs {
    overflow: visible;
  }

.att-c-header{
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    line-height: 50px;
}
.att-c-header>span{
    flex-basis: 150px;
}
.font-b{
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
}