#browse-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#browse-container span{
    line-height: 60px;
    color: rgb(104, 104, 104);
}
.browse-g{
    width: auto;
    background-color: #fff;
    margin: 8px 10px 0 8px;
    border-radius: 3px;
}
.browse-g>span:nth-child(1)::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 15px;
    margin: 10px 10px 0 5px;
    background-color: rgb(128, 169, 245);
}
.browse-g>span:nth-child(2){
    float: right;
    margin-right: 20px;
    position: relative;
    /* bottom: -2px; */
}
.browse-content{
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* border: 1px red solid; */
}
.browse-content>div{
    margin: 5px 20px;
    flex-basis: 300px;
    /* border: 1px red solid; */
}

/* browse update */
.browse-up-box>div{
    width: 300px;
    /* border: 1px red solid; */
}
.browse-up-c{
    width: 100%;
}


/* browse query */
.browse-qu-header{
    height: 150px;
}
#browse-input{
    width: 170px;
    height: 25px;
    padding: 0 25px 0 10px;
    margin: 30px 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: rgba(151, 151, 151, 0.384);
}
.submit{
    /* position: absolute; */
    /* right: 100px; */
    position: fixed;
    bottom: 190px;
    right: 90px;
    width: 70px;
    height: 35px;
    background-color: rgb(128, 169, 245,0.7);
    z-index: 999;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    box-shadow: rgb(128, 169, 245) 2px 2px 5px;
}
.submit:hover{
    color: #fff;
    background-color: rgb(62, 125, 241,0.9);
}
.up{    
    position: fixed;
    bottom: 120px;
    right: 110px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px rgb(179, 174, 174) solid;
    background: url('../IMG//arrow-down_25x25.png') no-repeat;
    transform: rotate(180deg);
}
.up:hover{
    border: 1px rgb(102, 102, 102) solid;
}  

.error{
    font-size: 25px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: rgb(223, 53, 53);
}