#home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.home-g{
    width: auto;
    background-color: #fff;
    margin: 8px 10px 0 8px;
    border-radius: 3px;
}
.home-header{
    height: 150px;
    /* display: flex;
    justify-content: space-around; */
}
.antd-cal{  
    width: 300px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}
.home-header>div{
    margin-top: 30px;
    margin-left: 120px;
}
.home-header>div>div:nth-child(1){
    color: rgb(128, 169, 245);
    font-size: 30px;
}
.home-body{
    height: 475px;
    padding-top: 20px;
    padding-left: 25px;
}

.home-body>span:nth-child(1)::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 15px;
    margin: 10px 10px 0 0;
    background-color: rgb(128, 169, 245);
}
.home-body>span:nth-child(2){
    float: right;
    margin-right: 20px;
    position: relative;
    bottom: -7px;
}

.home-content{
    overflow: hidden;
}
.home-c-g{
    width: 50%;
    height: auto;
    box-sizing: border-box;
    display: flex;
}
.home-l{
    float: left;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    border-right: 3px rgba(219, 219, 219) dotted;
}
.home-l>div{
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 10px 12px;
    /* border: 1px red solid; */
}
.home-l>div *{
    text-decoration: none;
}
.home-l>div>div{
    margin: 0 auto;
}


.img-g{
    width: 79px;
    height: 79px;
}
#img-1{
    background: url('../IMG/man.png') center no-repeat;
}
#img-2{
    background: url('../IMG/vacation.png') center no-repeat;
}
#img-3{
    background: url('../IMG/eat.png') center no-repeat;
}
#img-4{
    background: url('../IMG/request.png') center no-repeat;
}
#img-5{
    background: url('../IMG/framework.png') center no-repeat;
}
#img-6{
    background: url('../IMG/apply.png') center no-repeat;
}


.home-r{
    float: right;    
    justify-content: center;
    /* 不生效？？ */
    /* align-items: center; */
}
.home-r>div{
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 10px 12px;
    /* border: 1px red solid; */
}
.home-r>div *{
    text-decoration: none;
}
.home-r>div>div{
    margin: 0 auto;
}
#img-7{
    background: url('../IMG/work.png') center no-repeat;
}
#img-8{
    background: url('../IMG/off.png') center no-repeat;
}
